<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% block title %}selfnote{% endblock %}</title>

<link rel="stylesheet" href="/static_media/css/main.css" type="text/css" media="screen, projection">

{% block extrascript %}{% endblock %}
</head>
<body>
<h1><strong>self</strong>note</h1>
{% block body %}{% endblock %}
<p class="controls">{% block controls %}{% endblock %}a <a href="http://bombcircle.net">bombcircle</a> production</p>
</body>
</html>