{% extends "selfnote/base.html" %}

{% block body %}

{% if message %}
<p class="{{ message.class }}">{{ message.content }}</p>
{% endif %}

<div class="note">
<form action="" method="post" class="create_note">
<textarea name='content'></textarea>
<input type="submit" name="submit" value="Create" class="button" />
</form>
</div>

<ul class="notes">
{% for note in notes %}
<li class="note {% cycle "odd" "even" %}">{{ note.content|urlize }} <span class="when">({{ note.created_at|timesince }} ago)</span></li>
{% endfor %}
</ul>
{% endblock %}
{% block controls %}<a href="/logout">logout</a> | {% endblock %}

